          
          <div class="resume">
            {% if site.resume != blank -%} 
            {%- assign resume_size = site.resume | size -%}
            <!-- <div class="table-responsive" {% if site.resume_scrollable and resume_size > 3 %}style="max-height: 10vw"{% endif %}> -->
              <div style="text-align:center;">
              <!-- {%- assign resume = site.resume | reverse -%}
              {% if site.resume_limit %}
              {% assign resume_limit = site.resume_limit %}
              {% else %}
              {% assign resume_limit = resume_size %}
              {% endif %} --> 
              <!-- {% for item in resume limit: resume_limit %}  -->
                <!-- <tr>
                  <th scope="row"></th>
                  <td> -->
                    <!-- <a href="nu.nl" class="button1">Click Me!</a>  -->
                    <!-- <a href="../_resume/Leon_Eshuijs_CV.pdf" download></a> -->
                    <!-- <form method="get" action= "/assets/pdf/Leon_Eshuijs_CV.pdf"></form> -->
                    <button type="submit" onclick="window.open('assets/pdf/Leon_Eshuijs_CV.pdf')" class="button1">Download C.V.</button>
                    <!-- </form> -->
                   <!-- </a> -->
                    <!-- {% if item.inline -%} 
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {%- else -%} 
                      <a class="resume-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {%- endif %}  -->
                  <!-- </td>
                </tr> -->
              <!-- {%- endfor %}  -->
              <!-- </table> -->
            </div>
          {%- else -%} 
            <p>No resume so far...</p>
          {%- endif %} 
          </div>
